body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 100vh;
  width: 100vw;
}

#search-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 320px;
  z-index: 9999;
}

#search-input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 15px;
  outline: none;
}

#suggestions {
  background: white;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 9999;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
  background: #f1f1f1;
}
#info-box {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  z-index: 9999;
  font-size: 14px;
  text-align: center;
}
