body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 100vh;
  width: 100vw;
}
#search-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#search-input {
  width: 300px; /* adjust if needed */
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#download-geojson {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

#download-geojson:hover {
  background-color: #0056b3;
}


#suggestions {
  background: white;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 9999;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
  background: #f1f1f1;
}
#info-box {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  z-index: 9999;
  font-size: 14px;
  text-align: center;
}
